<table>
    <tr>
        <td>Email</td>
        <td>{{User.Email}}</td>
    </tr>
    <tr>
        <td>UserName</td>
        <td>{{User.UserName}}</td>
    </tr>
    <tr>
        <td>PasswordHash</td>
        <td>{{User.PasswordHash}}</td>
    </tr>
    @*<tr>
        <td>DeptName</td>
        <td>{{User.DeptName}}</td>
    </tr>
    <tr>
        <td>Designation</td>
        <td>{{User.Designation}}</td>
    </tr>*@
</table>
<input type="button" value="Delete" ng-click="delete()" />
