@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link href="~/css/ivh-treeview.css" rel="stylesheet" />
                   
                    <div data-ng-app="app" id="ng-app" lang="sv">


    <div data-ng-controller="CategoryController">

        <div class="company-sidebar-container container-12">
            <div class="products-list block">
                <div class="block-title">
                    <h3>Catgeory List</h3>
                </div>
                <ul class="list-root">
                    <li data-ng-repeat="category in categorys" ng-init="visible=true" ng-click="visible=!visible">
                        <a href="">{{category.category1}}</a>
                        <ul ng-show="visible">
                          
                            <li data-ng-repeat="categoryA in category.categoryAreas " ng-click="visible=visible"><a href="#"><div>{{categoryA.categoryName}}</div></a></li>
                        </ul>
                    </li>
                </ul>

               
            </div>
            </div>
        </div>
                      
</div>
<script src="~/Scripts/angular.js"></script>

    <script src="~/Content/AngulaJS/CategoryController.js"></script>                   

<script src="~/Content/AngulaJS/CategoryTree.js"></script>
                  
