@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div data-ng-app="app" id="ng-app" lang="sv">

    <div data-ng-controller="CategoryController">

        <br />
        <strong class="error">{{ error }}</strong>
        <div class="our-directory block">
            <p data-ng-hide="addModeCat"><a data-ng-click="toggleAddCat()" href="javascript:;" class="button-2-colorful">Create New category</a></p>
            <form name="addCategory" data-ng-show="addModeCat" class="comment-message-form">

                <div class="comment-message">
                    <div class="comment-message-title">
                        <span class="text-colorful">Add New Category</span>
                    </div>


                    <label>Name:</label><input type="text" class="text-input-grey" data-ng-model="newCategory.category1" required />
                    <label>Email:</label><input type="text" class="text-input-grey" data-ng-model="newCategory.Subcategory" required />
                    <br />
                    <span class="error" data-ng-show="addCategory.$error.Subcategory">Invalid Email format!</span>
                    <br />
                    <input type="submit" value="AddCat" data-ng-click="addCat()" data-ng-disabled="!addCategory.$valid" class="button-2-colorful" />
                    <input type="button" value="Cancel" data-ng-click="toggleAddCat()" class="button-2-colorful" />
                    <br />
                    <br />
                </div>
            </form>
        </div>
        <table class="table table-bordered table-hover" style="width: 800px">
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="text" class="sidebar-search-input" placeholder="Search..." data-ng-model="search.category1" />
                </td>
                <td>
                    <input type="text" class="sidebar-search-input" placeholder="Search..." data-ng-model="search.subcategory" />
                </td>
                <td></td>
            </tr>

            <tr data-ng-repeat="category in categorys | filter:search">
                <td><strong data-ng-hide="category.editMode" ng-hide="true">{{ category.CategoryID }}</strong></td>
                <td>
                    <p data-ng-hide="category.editMode">{{ category.category1 }}</p>
                    <p data-ng-show="category.editMode">
                        <input type="text" data-ng-model="category.category1" />
                    </p>
                </td>
                <td>
                    <p data-ng-hide="category.editMode">{{ category.subcategory }}</p>
                    <input data-ng-show="category.editMode" type="text" data-ng-model="category.subcategory" />
                </td>
                <td>
                    <p data-ng-hide="category.editMode"><a data-ng-click="toggleEditCat(category)" href="javascript:;">Edit</a> | <a data-ng-click="delcategory(category)" href="javascript:;">Delete</a></p>
                    <p data-ng-show="category.editMode"><a data-ng-click="save(category)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(category)" href="javascript:;">Cancel</a></p>
                </td>
            </tr>
        </table>
        <hr />
    </div>
    </div>
    
    <script src="~/scripts/angular.min.js"></script>
   
<script src="~/scripts/angular-resource.js"></script>
 
   
<script src="~/Content/AngulaJS/CategoryController.js"></script>
