
<header class="section">

    <div class="header-top-wrapper">
        <div class="zone-header-top zone clearfix">

            <div class="header-top-left container-6">

                <div class="logo block">
                    <a href="index-header5.html">
                        <img src="images/logo-2.png" alt="" />
                    </a>
                </div>

            </div>

            <div class="header-top-right container-18">

                <div class="user-links">
                    <div class="login">
                        <a href="#" id="login-link" class="login-link">Login</a>
                        <form id="login-form" class="login-form">
                            <input class="text-input-grey" type="text" placeholder="Login">
                            <input class="text-input-grey" type="text" placeholder="Password">
                            <a href="#" class="password-restore">Forgot Password?</a>
                            <input class="button-2-colorful" type="submit" value="Login">
                        </form>
                    </div>
                    <div class="register">
                        <a href="#" id="register-link" class="register-link">Register</a>
                        <form id="register-form" class="register-form">
                            <input class="text-input-grey" type="text" placeholder="Login">
                            <input class="text-input-grey" type="text" placeholder="Company Name">
                            <input class="text-input-grey" type="text" placeholder="Contact Person Name">
                            <input class="text-input-grey" type="text" placeholder="E-mail">
                            <input class="text-input-grey" type="text" placeholder="Password">
                            <input class="text-input-grey" type="text" placeholder="Repeat Password">
                            <div href="#" class="fields-required">All Fields Are Required</div>
                            <input class="button-2-colorful" type="submit" value="Register">
                        </form>
                    </div>
                </div>

                <div class="social-links block">
                    <a href="http://www.facebook.com">
                        <img src="images/facebook-icon.png" alt="" />
                    </a>
                    <a href="http://www.google.com">
                        <img src="images/google-icon.png" alt="" />
                    </a>
                    <a href="http://www.twitter.com">
                        <img src="images/twitter-icon.png" alt="" />
                    </a>
                    <a href="http://www.linkedin.com">
                        <img src="images/linkedin-icon.png" alt="" />
                    </a>
                    <a href="http://www.pinterest.com">
                        <img src="images/pinterest-icon.png" alt="" />
                    </a>
                    <a href="http://www.dribbble.com">
                        <img src="images/dribbble-icon.png" alt="" />
                    </a>
                </div>

                <div class="language-selector">
                    <select tabindex="1">
                        <option value="EN">EN</option>
                        <option value="FR">FR</option>
                        <option value="IT">IT</option>
                        <option value="DE">DE</option>
                    </select>
                </div>

            </div>

        </div><!-- end of .zone-header-top -->
    </div><!-- end of .header-top-wrapper -->

    <div class="main-menu-wrapper">
        <div class="zone-main-menu zone clearfix">

            <div class="main-menu-container container-24">

                <div class="main-menu block">
                    <ul id="sf-menu">
                        <li class="empty neighbour-left">
                            <div></div>
                        </li>
                        <li class="first active">
                            <a href="index-header5.html">HOME</a>
                            <ul>
                                <li class="first">
                                    <a href="index-street-view.html">Home (Street View)</a>
                                </li>
                                <li class="">
                                    <a href="index-slideshow.html">Home (Slideshow)</a>
                                </li>
                                <li class="">
                                    <a href="index-header2.html">Home (Header 2)</a>
                                </li>
                                <li class="">
                                    <a href="index-header3.html">Home (Header 3)</a>
                                </li>
                                <li class="">
                                    <a href="index-header4.html">Home (Header 4)</a>
                                </li>
                                <li class="">
                                    <a href="index-header5.html">Home (Header 5)</a>
                                </li>
                                <li class="">
                                    <a href="index-header6.html">Home (Header 6)</a>
                                </li>
                                <li class="last">
                                    <a href="index-header7.html">Home (Header 7)</a>
                                </li>
                            </ul>
                        </li>
                        <li class="neighbour-right">
                            <a href="companies-listing.html">FEATURES</a>
                            <ul>
                                <li class="first">
                                    <a href="companies-listing.html">Companies Listing</a>
                                </li>
                                <li class="">
                                    <a href="shortcodes.html">Shortcodes</a>
                                </li>
                                <li class="">
                                    <a href="company-page.html">Company Page</a>
                                </li>
                                <li class="">
                                    <a href="company-page-2.html">Company Page 2</a>
                                </li>
                                <li class="">
                                    <a href="company-page-3.html">Company Page (Complex Ratings)</a>
                                </li>
                                <li class="">
                                    <a href="company-tabs.html">Company Page (With Tabs)</a>
                                </li>
                                <li class="">
                                    <a href="single-project.html">Single Project</a>
                                </li>
                                <li class="">
                                    <a href="portfolio-1.html">Portfolio (1 column)</a>
                                </li>
                                <li class="">
                                    <a href="portfolio-2.html">Portfolio (2 columns)</a>
                                </li>
                                <li class="">
                                    <a href="portfolio-3.html">Portfolio (3 columns)</a>
                                </li>
                                <li class="last">
                                    <a href="portfolio-4.html">Portfolio (4 columns)</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="about-us.html">ABOUT US</a>
                        </li>
                        <li class="">
                            <a href="price-register.html">SUBMIT LISTING</a>
                        </li>
                        <li class="">
                            <a href="blog.html">BLOG</a>
                            <ul>
                                <li class="first last">
                                    <a href="blog-post.html">Blog post</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="contact-us.php">CONTACT US</a>
                        </li>
                        <li class="last">
                            <a href="index.html">PURCHASE THIS THEME</a>
                        </li>
                        <li class="empty">
                            <div></div>
                        </li>
                    </ul>
                </div>

            </div>

        </div><!-- end of .zone-main-menu -->
    </div><!-- end of .main-menu-wrapper -->

</header>
