@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
     
     <div class="register">
         @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "login-link" })
     </div>
   <div class="login">
       <a class="register-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </div>
    }
}
else
{
    <div class="login">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "login-link" })
    </div>
     <div class="register">
         @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "register-link" })
     </div>
    @*<ul class="nav navbar-nav navbar-right  ">
        <li></li>
        <li></li>
    </ul>*@
}
